#grid {
  width: 40em;
  height: 30em;
  border: none;
  background: #fff url("../../assets/woodtexture7.jpg") repeat left top;
  padding: 2.5px;
  overflow: hidden;
  margin: 1em auto;
  clear: both;
  float: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#grid .cell {
  background-color: transparent;
  float: left;
  width: 50px;
  height: 50px;
}
#grid .row {
  border-color: #999;
  clear: both;
  width: 100%;
}
#grid .row:nth-child(even) {
  padding-left: 25px;
}
#grid::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  float: left;
  padding: 1em;
  margin: 1em;
  border: 1px solid #226fbe;
  background-color: #226fbe;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
}

.over-wood {
  position: absolute;
}

input {
  border: 1px solid #226fbe;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0px;
  color: #000;
  font-size: 1.2em;
}
input:focus {
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

input[type="number"], .number-field {
  width: 85px;
  text-align: right;
}
input[type="number"]:read-only, .number-field:read-only {
  padding-right: 0px;
}

.text-field {
  width: 241px;
}

.number-field, .text-field {
  padding: 1em;
  font-size: 1.2em;
  float: left;
}

.overall-total {
  width: 100%;
}
.overall-total::after {
  clear: both;
  content: "";
  display: table;
}

input + .total {
  display: none;
  font-size: 1.2em;
}
input + .total:before {
  content: '/';
  padding-right: .5em;
  padding-left: 0em;
}

input:read-only + .total {
  display: inline;
}

.total + .total:before {
  content: '/';
  padding-right: .5em;
  padding-left: .5em;
}

::-webkit-input-placeholder {
  color: #f2f2f2;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #f2f2f2;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #f2f2f2;
}

:-ms-input-placeholder {
  color: #f2f2f2;
}

input:read-only {
  background: transparent;
  color: #fff;
  font-size: 1.2em;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
button:hover {
  color: #b3b3b3;
  background-color: #0b233c;
}

.cap, .sp-replacer.sp-light, .sp-replacer.sp-light:hover {
  width: 45px;
  height: 45px;
  margin: 2.5px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  background-color: #17aa56;
}
.cap:hover, .sp-replacer.sp-light:hover {
  opacity: .8;
}
.cap.empty, .empty.sp-replacer.sp-light {
  background-color: #fff;
  opacity: .15;
  border: 1px dashed #999;
}
.cap.empty:hover, .empty.sp-replacer.sp-light:hover {
  opacity: .4;
}

.sp-replacer.sp-light, .sp-replacer.sp-light:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 37.5px;
  height: 37.5px;
  padding: inherit;
  background-color: transparent;
  border: none;
}
.sp-replacer.sp-light.sp-active, .sp-replacer.sp-light:hover.sp-active {
  border-color: transparent;
}
.sp-replacer.sp-light .sp-dd, .sp-replacer.sp-light:hover .sp-dd {
  display: none;
}
.sp-replacer.sp-light .sp-preview, .sp-replacer.sp-light:hover .sp-preview {
  background-image: none;
  width: 37.5px;
  height: 37.5px;
  -moz-border-radius: 37.5px;
  -webkit-border-radius: 37.5px;
  -ms-border-radius: 37.5px;
  border-radius: 37.5px;
}
.sp-replacer.sp-light .sp-preview .sp-preview-inner, .sp-replacer.sp-light:hover .sp-preview .sp-preview-inner {
  -moz-border-radius: 37.5px;
  -webkit-border-radius: 37.5px;
  -ms-border-radius: 37.5px;
  border-radius: 37.5px;
}

.sp-replacer.sp-light:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  top: -5px;
}
.sp-replacer.sp-light:hover:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.selectable .ui-selecting {
  @exends .cap;
  background: #FECA40 !important;
  opacity: .9;
}
.selectable .ui-selecting:hover {
  opacity: .9;
}

.selectable {
  padding: 10em;
  width: 100%;
}
.selectable::after {
  clear: both;
  content: "";
  display: table;
}

.selectable .ui-selected {
  background: #F39814 !important;
  color: #fff;
  opacity: .9;
  @extends .cap;
}
.selectable .ui-selected:hover {
  opacity: .9;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: #4593e3;
  font-family: 'Arial';
}

i {
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
