.cap {
  width: $cap-diameter - $buffer;
  height: $cap-diameter - $buffer;
  border-radius: $cap-diameter;
  background-color: $cap-color;
  // border: 10px dotted white;
}
.empty > .cap {
  background-color: $cell-color;
  border: 4px dashed $gray-light;
}