.cap {
  width: $cap-diameter - $cap-diameter/10;
  height: $cap-diameter - $cap-diameter/10;
  border-radius: $cap-diameter;
  background-color: $cap-color;
  &.empty {
    background-color: $cell-color;
    border: 1px solid $gray-light;
  }
}