.cap {
  width: $cap-diameter - $buffer*2;
  height: $cap-diameter - $buffer*2;
  margin: $buffer;
  border-radius: $cap-diameter;
  background-color: $cap-color;
  // border: 10px dotted white;
  // cursor: move;
}
.empty > .cap {
  background-color: $cell-color;
  border: 4px dashed $gray-light;
}