#grid {
  border: 1px solid $black;
  background: #fff url($grid-background) repeat right top;
  padding: $buffer;
  overflow: auto;
  .cell {
    background-color: $cell-color;
    float: left;
    width: $cap-diameter;
    height: $cap-diameter;
  }
  .row {
    border-color: $gray-light;
    clear: both;
    width: 100%;
  }
  .row:nth-child(odd) {
    padding-left: $cap-diameter/2;
  }
}