.container {
  float:left;
  padding: 1em;
  margin: 1em;
  border: 1px solid $base-color-border;
  background-color: $base-color;
  @include border-radius(1px);
  @include material-shadow(1);
  color: $text-color;
}

.over-wood {
  position: absolute;
}

input {
  border: 1px solid $base-color-border;
  padding: 15px;
  background: rgba(255,255,255, .5);
  margin: 0 0 10px 0px;
  color: $black;
  font-size: 1.2em;
  &:focus {
    background: rgba(255,255,255, .7);
    @include transition();
  }
}
input:not([type=submit]):not([type=file]) {
  // intentionally blank
}

input[type="number"],.number-field {
  width: 85px;
  text-align: right;
  &:read-only {
    padding-right:0px;
  }
}
.text-field {
  width: 241px;
}
.number-field,.text-field {
  padding: 1em;
  font-size: 1.2em;
  float: left;
}
.overall-total {
  width: 100%;
  @include clearfix();
}
input + .total {
  display: none;
  font-size: 1.2em;
  &:before {
    content: '/';
    padding-right: .5em;
    padding-left: .5em;
  }
}
input:read-only + .total {
  display: inline;
}

.total + .total:before {
  content: '/';
  padding-right: .5em;
  padding-left: .5em;
}

::-webkit-input-placeholder {
 color: $placeholder-color;
}
:-moz-placeholder { /* Firefox 18- */
 color: $placeholder-color;
}
::-moz-placeholder {  /* Firefox 19+ */
 color: $placeholder-color;
}
:-ms-input-placeholder {
 color: $placeholder-color;
}

input:read-only {
  background:transparent;
  color: $text-color;
  font-size: 1.2em;
}