.container {
  float:left;
  padding: 1em;
  margin: 1em;
  border: 1px solid $base-color-border;
  background-color: $base-color;
  @include border-radius(1px);
  @include material-shadow(1);
  color: $text-color;
}

.over-wood {
  position: absolute;
}

input {
  border: 1px solid $base-color-border;
  padding: 15px;
  background: rgba(255,255,255, .5);
  margin: 0 0 10px 0px;
  color: $black;
  font-size: 1.2em;
}
input:not([type=submit]):not([type=file]) {
  // intentionally blank
}

input[type="number"] {
  width: 80px;
}

::-webkit-input-placeholder {
   color: $placeholder-color;
}
:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;
}
:-ms-input-placeholder {
   color: $placeholder-color;
}

input:read-only {
  background:transparent;
  color: $text-color;
  font-size: 1.2em;
}