$cap-diameter: 150px;
$buffer: $cap-diameter/20;
// colors
$black: #000;
$gray: #666;
$gray-light: #999;
$cell-color: transparent;
$cap-color: green; // temp
$grid-background: "../../assets/woodtexture7.jpg";