@import "../bourbon/bourbon";
@import "variables", "mixins", "grid";
@import "inputs";
@import "buttons";
@import "cap";
@import "selectable";

.hidden {
  visibility: hidden;
}

body {
  background-color: $background-color;
  font-family: 'Arial';
}

i {
  padding: 5px;
}